@model Tassc.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<main aria-labelledby="title" class="d-flex align-items-center justify-content-center vh-100">
    <div class="card w-50">
        <div class="card-header">
            <h2 id="title">@ViewBag.Title.</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form", id = "resetPasswordForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", id = "Email" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control required", id = "Password" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required", id = "ConfirmPassword" })
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-3 col-md-6 text-center">
                        <input type="submit" class="btn btn-outline-dark" value="Reset" />
                    </div>
                </div>
            }
        </div>
    </div>
</main>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#resetPasswordForm').on('submit', function (e) {
                e.preventDefault();

                let valid = true;
                $('.required').each(function () {
                    if ($(this).val() === '') {
                        valid = false;
                        return false;
                    }
                });

                if (!valid) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Please fill out all required fields.',
                    });
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Password reset was successfully.',
                    }).then(() => {
                        this.submit();
                    });
                }
            });
        });
    </script>
}
